<div id="container-exp">
  <div id="instructions_header">
    <h1>Instructions</h1>
  </div>
  <div id="instructions_text">
    <br /><br />
    <p>
      You don't need to learn where goals are on the map. A goal's letter
      (either A, B, C or D) determines its value and the location is not
      important.
    </p>
    <p>
      You will see the same colors repeated many times, so try to learn the
      goals as best you can! This will make the game much easier.
    </p>
    <p>
      Keep in mind that if you are able to learn which goals go with which
      colors, you will recieve a much bigger bonus than if you don't.
    </p>
    <p>
      When you finish the game there will be a short questionnaire. <em >Remember!</em>
      use the <b>a</b>, <b>s</b>, <b>d</b>, <b>f</b>, <b>j</b>, <b>k</b>,
      <b>l</b>, <b>;</b>
      keys to move around the maze.
    </p>
  </div>
  <div id="instructions_bottom">
    <div class="instructionsnav">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-7"></div>
        <div class="col-xs-3">
          <div class="right">
            <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
              Next <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>